{% extends "home.html"%}
{% load static%}

    {% block content%}
        <div class="row">
       
            {% for product in products%}
                <div class="col-lg-4">
                    
                    <img class="thumbnail" src="{{product.imageUrl}}" alt="">
                    <div class="box-element product">
                        <h6><strong>{{product.name}}</strong></h6>
                        <hr>
                    <button data-product="{{product.id}}" data-action="add"  class="btn btn-outline-secondary add-btn update_cart add_btn">Add to cart</button>
                        <a href="/product/{{product.name|cut:' '}}/{{product.id}}" class="btn btn-outline-success  view-link view_btn">View</a>
                        <h4 class="price-tag">{{product.price|floatformat:2}}$</h4>

                    </div>
                </div>
                
                
            {% endfor%}

            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="alert alert-success" id="on_add_alert" role="alert">
                    This is a success alert—check it out!
                </div>
            </div>
            <div class="col-lg-2"></div>


        </div>
    

        
    {% endblock %}
